//Bootstrap variable overrides for L.L.Bean
$screen-xs:     471px !default;
$screen-xs-min: $screen-xs !default;

$screen-sm:     471px !default;
$screen-sm-min: $screen-sm !default;

$screen-md:     731px !default;
$screen-md-min: $screen-md !default;

$screen-lg:     971px !default;
$screen-lg-min: $screen-lg !default;